/*start view*/

.start-view--root{
    -fx-background-color: transparent;
    /*-fx-background-image: url("/static/images/robert_walters_logo.jpeg");*/
    ;
}
.start-view--vbox{
    -fx-background-color: #8cc1c1;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: black;
}
.start-view--button{
    -fx-background-color: #8cc1c1;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.start-view--button-pane{
    -fx-background-color: #8cc1c1;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;

}
.start-view--button-pane:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);

}

/*login view*/
.login-view--buttons-box{
    -fx-background-color: #8cc1c1;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.login-view--vbox{
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.login-view--login-button{
    -fx-background-color:  #2d84d2;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.login-view--login-button:hover{
    -fx-background-color: rgba(45, 132, 210, 0.5);
}
.login-view--back-button{
    -fx-background-color: #8cc1c1;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.login-view--back-button:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}